.first-section-penguin{
    height: 800px;
    background-color: rgb(255, 251, 240);
}
.introduction{
    padding-top: 25%;
}
.button{
    background-color: rgb(164, 188, 70);
    color: white;
    padding: 2%;
    border-radius: 10px;
    outline-color: rgb(164, 188, 70);
    outline-style: none;
}
.image-background{
    background-color: rgb(241, 241, 241);
    margin: 5%;
    border-radius: 20px;
}
.card-border{
   border: 0;
   border-radius: 20px;
}